.social-media-container
{
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 30%;
}

.social-media
{
  aspect-ratio: 1/1;
  box-sizing: content-box;
  display: block;
  filter: brightness(0) invert(var(--theme-is-dark));
  height: 100%;
  margin: 0 2%;
  padding: 2px;
  transition: 0.2s ease-in-out;
}

.social-media:hover,
.social-media:active
{
  --shadow-bg: var(--theme-foreground-1);
  filter: none;
}

.social-media > div
{
  background-color: var(--shadow-bg, transparent);
  border-radius: 50%;
  height: 3px;
  transition: 0.2s ease-in-out;
  width: 100%;
}
