.theme-switcher
{
    align-items: center;
    aspect-ratio: 2/1;
    background-color: #00000000;
    border: solid 5px var(--theme-switch-button);
    border-radius: calc(var(--global-navbar-height) / 2);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: center;
}

.theme-switcher > img
{
    aspect-ratio: 1/1;
    margin: 5%;
    max-width: 40%;
}
