.home-section
{
    align-items: var(--parent-flex-align, center);
    display: flex;
    flex-flow: column nowrap;
    margin: var(--global-home-section-margin);
}

.subtitle
{
    margin: 0 30px;
}

.home-section-content
{
    font-family: sans-serif;
    inline-size: auto;
    margin: 0;
}

.home-section:hover
{

    /* --underline-width is used in .subtitle */
    --underline-width: 100%;
}
