.error
{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.error-alert
{
  font-family: sans-serif;
}

.error a
{
  font-family: sans-serif;
}
