.navbar
{
  align-items: center;
  background: var(--theme-background-2);
  display: flex;
  flex-direction: row;
  height: var(--global-navbar-height);
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.navbar > *
{
  display: flex;
  height: calc(var(--global-navbar-height) * (2 / 3));
}

.navbar-button
{
  transition: 0.1s ease-in-out;
}

.navbar-button:hover
{
  filter: saturate(0.5);
}

.navbar-button:active
{
  filter: saturate(0.3);
}
