.route
{
    animation: load-animation 0.3s ease-in-out forwards;
    background: scroll var(--theme-background-1) repeat;
    min-height: calc(100vh - var(--global-navbar-height));
    min-width: 100vw;
    position: absolute;
    top: var(--global-navbar-height);
}

@keyframes load-animation
{

    from
    {
        transform: translateY(100%);
    }

    to
    {
        transform: translateY(0);
    }
}
